/* =Variables
-------------------------------------------------------------- */
/* =Mixins
-------------------------------------------------------------- */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.margin-bottom {
  margin: 0 0 1em 0;
}
/*
 * =Global
 * =Structure
 * =Typography
 * =Responsive
 * =Developer
 */

/*
 * Our relative REM font sizing formula...
 * size we want ( 20px ) / size we have set for base ( 10px ) = 2rem 
 *
 */

/* =Global
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  
}

/* =Structure
-------------------------------------------------------------- */
#page {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}
.main-navigation {
  margin: 0 0 1em 0;
}
#primary {
  float: left;
  margin: 0 10px 1em 0;
  width: 650px;
}
#secondary {
  float: right;
  margin: 0 0 1em 0;
  width: 300px;
}
#colophon {
  clear: both;
  margin: 0 0 1em 0;
}
/* =Typography
-------------------------------------------------------------- */

/* =Developer
-------------------------------------------------------------- */
#masthead,
#primary,
#secondary,
#colophon {
  outline: 1px solid red;
}
.widget-area {
  background-color: pink;
}
