/* =Variables
-------------------------------------------------------------- */
/* =Mixins
-------------------------------------------------------------- */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.transition {
  -webkit-transition: width 0.2s, ease;
  -moz-transition: width 0.2s, ease;
  -ms-transition: width 0.2s, ease;
  -o-transition: width 0.2s, ease;
}
.margin-bottom {
  margin: 0 0 1em 0;
}
/*
 * =Global
 * =Structure
 * =Typography
 * =Responsive
 * =Developer
 */
/* =Global
-------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* =Structure
-------------------------------------------------------------- */
#page {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}
.main-navigation {
  margin: 0 0 1em 0;
}
#primary {
  float: left;
  margin: 0 10px 1em 0;
  width: 650px;
}
#secondary {
  float: right;
  margin: 0 0 1em 0;
  width: 300px;
}
#colophon {
  clear: both;
  margin: 0 0 1em 0;
}
/* =Typography
-------------------------------------------------------------- */
/* =Developer
-------------------------------------------------------------- */
#masthead,
#primary,
#secondary,
#colophon {
  outline: 2px dashed #333;
}
.widget-area {
  background-color: #f2f2f2;
}
